[Unit]
Description=IBus Semi-Crash Monitor
After=org.freedesktop.IBus.session.GNOME.service

[Service]
ExecStart=%h/.local/bin/ibus-monitor.sh

[Install]
WantedBy=gnome-session.target